@use "../../../../styles/variable/colors" as c;
@use "../../../../styles/variable/fonts" as f;
@use "../../../../styles/utility/mq" as m;

.MainVisual{
   width: 100vw;
   height: 460px;
   margin: 0 auto;
   padding: 0;
   background-image: url("../../../../public/images/sp_mv.jpg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   object-fit: fill;
   position: relative;
   
   @include m.mq(wtb){
      background-image: url("../../../../public/images/pc_mv.jpg");
      width: 100vw;
      height: 600px;
   }

   .MainVisual__titleContainer{
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .MainVisual__title{
         font-size: 80px;
         font-weight: bold;
         color: c.$MainVisual-title-font;
         @include m.mq(wtb){
            font-size: 160px;
            line-height: 1;
            text-shadow: 0 4px 6px c.$MainVisual-title-shadow;
         }
      }
      
      .MainVisual__subtitle{
         font-size: 20px;
         letter-spacing: 1px;
         color: c.$MainVisual-subtitle-font;
         @include m.mq(wtb){
            font-size: 24px;
            text-shadow: 0 4px 6px c.$MainVisual-title-shadow;
         }
      }
   }
}