@use "../../../../styles/variable/colors" as c;
@use "../../../../styles/variable/fonts" as f;
@use "../../../../styles/utility/mq" as m;

.NewsBox{
   width: 100%;
   max-width: 1110px;
   margin: 0 auto;

   .NewsBox__list{
      flex: 1;
      list-style: none;
      margin: 0 auto;
      padding-left: 0;
      
      .News{
         margin-bottom: 1.5rem;
         padding-bottom: 1.5rem;
         border-bottom: 1px solid c.$NewsBox-list-border;
         .News__link{
            display: grid;
            grid-template-columns: 1fr;
            line-height: 27px;

            @include m.mq(wtb){
               display: flex;
               align-items: flex-start;
            }
            .News__date{
               color: c.$NewsBox-date-font;
               @include m.mq(wtb){
                  display: block;
                  font-size: 1.5rem;
                  margin-right: 20px;
               }
            }
            .News__title{
               color: rgb(51,51,51);
               font-size: 1.5rem;
               font-weight: bold;
            }
         }
         .News__link:hover{
            color: c.$theme;
            .News__date{
               color: c.$theme;
            }
            .News__title{
               color: c.$theme;
            }
         }
      }
   }

}