@use "./utility/mq" as m;

.container{
   position: absolute;
   z-index: 1;
   width: 100vw;
   .NavigationBar__container{
      position: relative;
      z-index: 2;
   }
   .MainVisual__container{
      z-index: 1;
   }
   .NewsBox_and_Service__container{
      position: relative;
      z-index: 1;
      padding: 60px 0px 100px 0px;
      max-width: 1170px;
      margin: 0 auto;
      .watermark{
         z-index: -1;
         position: absolute;
         top: 34.2%;
         right: 8px;
         color: rgb(51, 51, 51, 0.1);
         font-family: "Roboto";
         font-weight: bold;
         font-style: italic;
         font-size: 7rem;
         @include m.mq(wtb){
            right: 32px;
            font-size: 16.8rem;
            transform: translateY(20%);
         }
      }
   }
}