/******************
 ブレイクポイント一覧
 ******************/
$breakpointList: (
   nsp: '320px',   // 狭い幅のスマホ　～
   wsp: '414px',   // 広い幅のスマホ　～
   ntb: '576px',   // 狭い幅のタブレット　～
   wtb: '768px',   // 広い幅のタブレット　～
   npc: '1024px',  // 狭い幅のパソコン　～
   mpc: '1280px',  // 普通の幅のパソコン　～
   lpc: '1440px',  // 広めの幅のパソコン　～
   xlpc: '1920px', // かなり広い幅のパソコン　～
);
   
$nsp: '320px';   // 狭い幅のスマホ　～
$wsp: '414px';   // 広い幅のスマホ　～
$ntb: '576px';   // 狭い幅のタブレット　～
$wtb: '768px';   // 広い幅のタブレット　～
$npc: '1024px';  // 狭い幅のパソコン　～
$mpc: '1280px';  // 普通の幅のパソコン　～
$lpc: '1440px';  // 広めの幅のパソコン　～
$xlpc: '1920px'; // かなり広い幅のパソコン　～