/******************
 色についての変数一覧
 ******************/
// 共通の変数
$theme: #DD1B57;
$link: #359BF4;
$background: white !default; // デフォルトの背景色
$text: black !default; // デフォルトの文字色
$title-text-shadow: rgb(0 0 0 / 25%);

// components/widgets/NavigationBar
$button-font: white;

// components/widgets/Footer
$footer-text: white;

// components/pages/home/MainVisual
$MainVisual-title-font: white;
$MainVisual-subtitle-font: white;
$MainVisual-title-shadow: rgb(0 0 0 / 25%);

// components/pages/home/NewsBox
$NewsBox-date-font: #4a4d50;
$NewsBox-list-border: #cdd2d6;

// components/pages/home/Service
$ServiceCard-shadow: rgb(0 0 0 / 16%);